version: '3'

services:
    app:
        image: silarhi/app-ci:latest
        container_name: lab_ci_app
        env_file:
            - app.env
        environment:
            - APP_MAINTENANCE
        volumes:
            - /app/var/logs
        labels:
            - "traefik.frontend.rule=Host:labs.sainthillier.fr"
        restart: always
        networks:
            - web

networks:
    web:
        external: true
